# ResiCTRL Environment Configuration Example

# Server configuration
PORT=5000

# Database Configuration
# Since we are using SQLite locally for zero installation, simply point it to a file.
# If you decide to switch to PostgreSQL, replace this URL with your Postgres connection string.
DATABASE_URL="file:./dev.db"
